// from https://washu.atlassian.net/wiki/spaces/RUD/pages/1782513713/Nextflow
docker {
    enabled = true
    // runOptions = '-v /diskmnt/Users2/yuweiz/:/diskmnt/Users2/yuweiz/ -v /diskmnt/Users2/yuweiz/tmp:/tmp'
}
process {
    withLabel: germlineSNV {
        container = 'google/deepvariant:1.6.1'
        docker.runOptions = '-v /diskmnt/Users2/yuweiz/data/:/diskmnt/Users2/yuweiz/data/'
    }
    withLabel: somaticSVsvisionpro {
        container = 'caoboss/svisionpro:2.1.1'
        docker.runOptions = '-v /diskmnt/Users2/yuweiz/data/:/diskmnt/Users2/yuweiz/data/'
    }
    withLabel: somaticSVnanomonsv {
        container = 'friend1ws/nanomonsv:v0.8.0'
        docker.runOptions = '-v /diskmnt/Users2/yuweiz/data/:/diskmnt/Users2/yuweiz/data/'
    }
    withLabel: somaticSVsavana {
        container = 'ajslee/savana:1.3.5'
        docker.runOptions = '-v /diskmnt/Users2/yuweiz/data:/diskmnt/Users2/yuweiz/data -v /diskmnt/Users2/yuweiz/tmp:/tmp'
    }
}

executor {
    queueSize = 7
    submitRateLimit = '1/1sec'

}

// Default paths
params.survivor = "/diskmnt/Users2/yuweiz/software/conda2/envs/longread/bin/SURVIVOR"
params.pbsv = "/diskmnt/Users2/yuweiz/software/conda2/envs/longread/bin/pbsv"
params.hiphase = "/diskmnt/Users2/yuweiz/software/conda2/envs/longread/bin/hiphase"
params.bcftools = "/diskmnt/Users2/yuweiz/software/conda2/bin/bcftools"
params.bgzip = "/diskmnt/Users2/yuweiz/software/conda2/bin/bgzip"
params.tabix = "/diskmnt/Users2/yuweiz/software/conda2/bin/tabix"
params.samtools = "/diskmnt/Users2/yuweiz/software/conda2/bin/samtools"
params.minimap2 = "/diskmnt/Users2/yuweiz/software/conda2/envs/longread/bin/minimap2"
params.pandepth = "/diskmnt/Users2/yuweiz/software/PanDepth-2.25-Linux-x86_64/pandepth"
params.reference = "/diskmnt/Users2/yuweiz/data/chm13v2.0.fa"
params.reffold = "/diskmnt/Users2/yuweiz/data/"
params.index = '/diskmnt/Users2/yuweiz/data/t2t_hifi.mmi'
params.repeat4pbsv = '/diskmnt/Users2/yuweiz/data/human_chm13v2.0_maskedY_rCRS.trf.bed'
params.platform = 'map-hifi'
params.cpu = '8'

params.savana = '/opt/conda/bin/savana' 
params.nanomonsv = '/usr/local/bin/nanomonsv'
params.severus = '/diskmnt/Users2/yuweiz/software/conda2/envs/longread/bin/severus'
params.severuspolish = '/diskmnt/Users2/yuweiz/project/ccRCC/nextflow_test/polishseverus.pl'

params.svisionpro = '/usr/local/bin/SVision-pro'
params.extractop = '/SVision-pro-2.1/extract_op.py'
params.svision_model = '/opt/svision-pro/src/pre_process/model_liteunet_512_8_16_32_32_32.pth'


// Note: must not include the "/rdcw/fs2/home1/Active" prefix to home 

// all perl scripts are added to the bin directory
// https://www.nextflow.io/docs/latest/sharing.html#the-bin-directory

// here, assuming that index files named ...bam.bai exist 
params.normalinput = "/diskmnt/Users2/yuweiz/project/ccRCC/nextflow_test/work/c8/fc53a4d0e9846bee9076e5f8ed4704/01_mapping/normal.sorted.bam"
params.normalindex = "/diskmnt/Users2/yuweiz/project/ccRCC/nextflow_test/work/c8/fc53a4d0e9846bee9076e5f8ed4704/01_mapping/normal.sorted.bam.bai"
params.tumorinput = "/diskmnt/Users2/yuweiz/project/ccRCC/nextflow_test/work/c8/fc53a4d0e9846bee9076e5f8ed4704/01_mapping/tumor.sorted.bam"
params.tumorindex = "/diskmnt/Users2/yuweiz/project/ccRCC/nextflow_test/work/c8/fc53a4d0e9846bee9076e5f8ed4704/01_mapping/tumor.sorted.bam.bai"


report {
    overwrite = true
}
timeline {
    overwrite = true
}
trace {
    overwrite = true
}
dag {
    overwrite = true
}
